.
.
.
                    <li><a href="/Country/List">Country</a></li>
                    <li><a href="/Degree/List">Degree</a></li>
                    <li><a href="/Employee/List">Employee</a></li>
.
.
.
