.
.
.
                    <li><a href="/City/List">City</a></li>
                    <li><a href="/Student/List">Student</a></li>
                    <li><a href="/Teacher/List">Teacher</a></li>
.
.
.
