@model List<DataModel_EF.Models.Data.Degree>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<br />
<h2>Degrees</h2>

<div class="row">
    <div class="col-md-7">
        <br />
        <div class="alert alert-warning" role="alert">
            @Session["Error"]
        </div>
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Degree</th>
                    <th>Delete</th>
                    <th>Update</th>
                    <th>Employees</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.DegreeId</td>
                        <td>@item.DegreeName</td>
                        <td><a class="btn btn-danger" href="/Degree/Delete/@item.DegreeId">Delete</a></td>
                        <td><a class="btn btn-success" href="/Degree/Update/@item.DegreeId">Update</a></td>
                        <td><a class="btn btn-dark" href="/Employee/ListByDegreeId/@item.DegreeId">Employees</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <form>
            <input class="btn btn-primary" type="submit" value="Add" formaction="/Degree/Create"/>
        </form>
    </div>
</div>
